@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/Satoshi-BlackItalic.woff');
}

@font-face {
  font-family: 'Satoshi';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Satoshi-Italic.woff');
  
}

@theme {
  --font-satoshi: 'Satoshi', 'san-serif';
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Satoshi', 'san-serif';
  font-weight: normal;
  font-style: italic;
  background-color: rgb(255, 255, 255);
  letter-spacing: -0.05em;
}